#Server
LOG_LEVEL=info
SERVER_PORT=
WS_URL=
USE_TLS=false
SOLVER_PRICE_TTL_SECONDS=600
NEXT_NONCE_URL=
IS_MAINNET=false

# optional from blocks for historical event logging
# these are useful if we miss events and want to rewind
INTENT_OBSERVER_FROM_BLOCK_BASE=
INTENT_OBSERVER_FROM_BLOCK_ARBITRUM=

#Arbitrum
ARBITRUM_WS=
ARBITRUM_T1_ERC7683_CONTRACT_ADDRESS=
ARBITRUM_SIGNER_PRIVATE_KEY=

#Base
BASE_WS=
BASE_T1_ERC7683_CONTRACT_ADDRESS=
BASE_SIGNER_PRIVATE_KEY=

#Bots
TOKKA_SOLVER_BOT_PRIVATE_KEY=
ECO_SOLVER_BOT_PRIVATE_KEY=
